/* Bouton pour l'historique des commandes */
#order-history-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    color: #bb86fc;
}

#order-history-icon.hidden {
    display: none;
}

/* Pop-up Historique des commandes */
#order-history-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-history-popup.hidden {
    display: none;
}

.order-history-content {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
}

#close-order-history-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
